<header>
    <navbar>
        <div class="logo-container">
            <a href="#">Logo</a>
        </div>
        <!-- boton para ocultar -->
        <button>=</button>
        <ul>
            <a href="{% url 'galery' %}">Galería</a>
            <a href="">Carrito</a>

            <a href="{% url 'about' %}">Sobre Nosotros</a>
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Cerrar Sesión</a>
            {% else %}
                <a href="{% url 'login' %}">Iniciar Sesión</a>
                <a href="{% url 'signup' %}">Registrarse</a>
            {% endif %}
        </ul>
    </navbar>
</header>